{% load qr_code %}
    <div id ="bilet">
        <div id="left-side">
            <div id="logo"><b>KINO SAMOCHODOWE</b></div>
        </div>
        <div id="main-side">
            <div id="main-information">
                <div id="id-biletu">
                    Numer biletu: #{{ ticket.id }}<br>
                    Wygenerowano: {{ ticket.created_at }}<br>
                </div>
                <div id="seans-information">
                    <h1>{{ ticket.name }}</h1>
                </div>
                <div id="rest-information">
                    <div id="title"><b>{{ ticket.screening.title }}</b></div>
                    Data seansu:
                    <b>{{ ticket.screening.date }} {{ ticket.screening.hour }}</b><br>
                    Numer miejsca parkingowego: <b>{{ ticket.parking_spot_number }}</b><br>
                    Miejsce: <b>{{ ticket.screening.venue.city }} ul.{{ ticket.screening.venue.street }}</b><br>
                </div>
                <div id="announcement">
                    <i>Częstotliwość stacji radiowej zostanie udostępniona przed seansem. W razie problemów technicznych proszę wezwać pomoc!</i>
                </div>
                <div id="price">
                    <b>Cena: {{ ticket.screening.price }} zł</b>
                </div>
            </div>
        </div>
        <div id="top-right-side">
            {% load static %}
            <img src="{% static 'img/car.png' %}" alt="logo" height="200" width="400">
        </div>

        <div id="bottom-right-side">
            {% qr_from_text data_qr size="T" image_format="png" %}
        </div>
    </div>
    <div style="clear:both"></div><br>

