{% extends "app.html" %}

{% block title %}Kup bilet{% endblock %}

{% block content %}

    <div id='seans_info'>
    <p><b>Seans: </b> {{ screening.name }} <br><b> Data: </b>{{ screening.date }} {{ screening.hour }} <br><b> Film: </b>{{ screening.film.title }} <br><b> Miejsce seansu: </b>{{ screening.venue.city }}, {{ screening.venue.street }} <br><b> Rodzaj miejsca:</b> {{ screening.venue.place_type }} <br><b> Maksymalna ilość miejsc na seans wynosi: </b>{{ parking_spot_count }} </p>
        {% if available_parking_spot_count == 0 %}
            <p><span style='color:red'><b>Brak miejsc na seans!</b></span></p>
        {% elif available_parking_spot_count == 10 %}
            <p><span style='color:red'><b>Zostało kilka miejsc parkingowych!</b></span></p>
        {% else %}
            <p>Zostało {{ available_parking_spot_count }} miejsc parkingowych.</p>
        {% endif %}
    </div>
     <table align="center" id="parking">
        {% for row in rows %}
            {% if forloop.first %}
                <tr><td class="rzad">{{ row.page }}</td>
            {% endif %}
            {% if row.item.user_id == None %}
                <td style="background-color:green">
                    <a href="{% url "tickets_selected" %}?screening_id={{ screening.id }}&parking_spot_number={{ row.counter }}"><b>{{ row.counter }}</b></a>
                </td>
            {% else %}
                <td style="background-color:red"><b>{{ row.counter }}</b></td>
            {% endif %}

            {% if row.counter|divisibleby:10 %}
                <td class="rzad">{{ row.page }}</td></tr>
                {% if not row.is_last %}
                    <tr><td class="rzad">{{ row.page|add:1 }}</td>
                {% endif %}
            {% endif %}

            {% if row.is_last and not row.counter|divisibleby:10 %}
                {% if row.missing_cells %}
                    {% for _ in row.missing_cells %}
                        <td class="puste"></td>
                    {% endfor %}
                {% endif %}
                <td class="rzad">{{ row.page }}</td></tr>
            {% endif %}
     {% endfor %}
    </table>

{% endblock %}
